*{
  margin: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
@font-face {
  font-family: 'Hangyaboly';
  src: url('https://font-public.canva.com/YADiq7Ys73A/0/Hangyaboly-Regular_fix482404332371740184.2b0f92b24364eee9a859be106528c3fe.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body 
{
    background-color: #fef5ed;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    height: 100vh;
    width: 100%;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Hangyaboly';
    overflow: hidden;
}
.h1
{
  font-size: 1px;
  height: auto;
  color: #fef5ed;
  z-index: 10;
  position: absolute;
  top: 50vh;
  left: 50px;
  font-family: 'Hangyaboly', sans-serif;
    
}
.square 
{
    width: 50%;
    height: 100vh;
    background-color: #c69c6d;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    border-radius: 0;
    right: 0;
    position: fixed;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-link {
  display: inline-block;
  padding: 25px 88px;
  background-color: #fef5ed;
  color: #c69c6d;
  text-decoration: none;
  border-radius: 45px;
  font-size: 85px;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #e0c9a6;
  transform: scale(1.05);
}

.SuggestionButton {
  position: absolute;
  top: 90vh;
  left: 73%;
  z-index: 2;
}
.SuggestionButton-link {
  display: inline-block;
  padding: 6px 28px;
  padding-left: 80px;
  background-color: #fef5ed;
  color: #c69c6d;
  text-decoration: none;
  border-radius: 90px;
  font-size: 40px;
  transition: background-color 0.3s ease;
}

.SuggestionButton-link:hover {
  background-color: #e0c9a6;
}

.img2 {
  width: 50px;
  height: auto;
  z-index: 1;
  position: absolute;
  top: 90.7vh;
  left: 74%;
  z-index: 2;
}

.account-menu {
  position: absolute;
  top: 11px;
  left: 8px;
  z-index: 2;
  font-family: 'Hangyaboly';
}

.account-button {
  display: inline-block;
  padding: 6px 28px;
  padding-left: 60px;
  background-color: #fef5ed;
  color: #c69c6d;
  text-decoration: none;
  border-radius: 90px;
  font-size: 35px;
  transition: background-color 0.3s ease;
  border: none;
  font-family:'Hangyaboly';
}
  
.account-button:hover {
  outline:  #c69c6d; 
  background-color: #e0c9a6;
}
  
.account-dropdown {
  display: none;
  position: absolute;
  background-color: #fef5ed;
  min-width: 150px;
  font-family: 'Hangyaboly';
  border-radius: 20px;
}
  
.account-dropdown a {
  color: #c69c6d;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-family: 'Hangyaboly';
}
  
.account-dropdown a:hover {
  color: #e0c9a6;
  background-color: #fef5ed;
}

.account-button a:hover {
  color: #e0c9a6;
  background-color: #e0c9a6;
}

.account-menu:hover .account-dropdown {
   display: block;
}

.img3 {
  width: 2.3%;
  height: auto;
  z-index: 3;
  position: absolute;
  top: 17px;
  left: 20px;
}

.amatic-sc-regular {
  font-family: "Amatic SC", serif;
  font-weight: 400;
  font-style: normal;
}
.amatic-sc-bold {
  font-family: "Amatic SC", serif;
  font-weight: 700;
  font-style: normal;
}
.img {
  transform: translateY(3%);
  width: 50vw;
  height: auto;
  z-index: 1;
  top: 0;
  left: 0;
}

  /*@media screen and (max-width: 720px) {
      .square {
        
    }
  }*/

  
