*{
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
@font-face {
    font-family: 'Hangyaboly';
    src: url('https://font-public.canva.com/YADiq7Ys73A/0/Hangyaboly-Regular_fix482404332371740184.2b0f92b24364eee9a859be106528c3fe.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body 
{
    background-color: #fef5ed;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    height: 100vh;
    width: 100%;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Hangyaboly';
    overflow: hidden;
}

h1
{
    font-size: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    margin-top: 14%;
    color: rgb(0, 0, 0);
    z-index: 2;
    position: relative;
}
  
.square {
    width: 97.2%;
    margin-left: 1.4%;
    top: 21px;
    height: 15vh;
    background-color: #c69c6d;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    position: fixed;
    border-radius: 45px;
}
  
.container {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 220px;
}
  
.container img {
    border-radius: 100px;
    width: 65%;
    height: auto;
}
  
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.button-link {
    display: inline-block;
    padding: 10px 66px;
    margin-left: 44px;
    background-color: #fef5ed;
    color: #c69c6d;
    text-decoration: none;
    border-radius: 25px;
    font-size: 50px;
    transition: background-color 0.3s ease;
}
  
.button-link:hover {
    background-color: #e0c9a6;
    transform: scale(1.05);
}
  
.box{
    margin-top: 100;
}

#box {
    background: rgb(249, 247, 246);
    padding: 40px;
    border-radius: 45px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    top: 30%;
    left: 40%;
}
  
#text {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: border-color 0.3s;
    font-family: 'Hangyaboly';
}
  
#text:focus {
    border-color: #ff7f50;
}

.ab-link {
    display: block;
    margin-top: 10px;
    color: #c69c6d;
    background-color: #fef5ed;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.ab-link:hover {
    color: #e0c9a6;
    transform: scale(1.05);
}

#button {
    width: 100%;
    padding: 12px;
    background-color: #c69c6d;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    font-family: 'Hangyaboly', sans-serif;
}

#button:hover {
    background-color: #e0c9a6;
    transform: scale(1.05);
    transition-duration: 500ms;
}
.button-menu{
    display: inline-block;
    padding: 10px 66px;
    margin-left: 44px;
    background-color: #fef5ed;
    color: #c69c6d;
    text-decoration: none;
    border-radius: 25px;
    font-size: 50px;
    transition: background-color 0.3s ease;
    font-family: 'Hangyaboly';
    border: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .button-dropdown {
    display: none;
    position: absolute;
    background-color: #fef5ed;
    min-width: 200px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1000;
  }
  
  
  .button-dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #c69c6d;
    font-size: 24px;
  }
  
  
  .button-dropdown a:hover {
    background-color: #e0c9a6;
  }
  
  
  .dropdown:hover .button-dropdown {
    display: block;
  }
  