body 
{
    font-family: Arima;
    background-color: #fff6e0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    height: 2020px;
    width: 100%;
    margin: 0;
}
h1 
{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 5vh;
    color: rgb(255, 255, 255);
    z-index: 2;
    position: relative;
}
.square 
{
    width: 90%;
    height: 20vh;
    background-color: #ff9100;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}